<div id="booksContainer">
    <h1>Thank You
        <br>
        You have just placed an order <%=@orderReg.id %></h1>
</div>

<table id="customers">
    <tr>
        <% @orders.limit(1).order(id: :desc).each do |order| %>
        td>Order reference for the order you just placed <%= order.id %></td>
        <% end %>
    </tr>
</table>

<table id="customers">
    <% @total = 0 %>
    <% @orderbooks.each do |id,quantity| %>
    <tr>
        <% book = Orderbook.find_by_id(id) %>
        <td><%= book.title %></td>
        <td><%= book.quantity %></td>
        <td><%=number_to_currency(book.price, :unit => "€")%></td>
        <td><%= number_to_currency(book.quantity * book.price, :unit => "€") %></td>
    </tr>
    <tr>
        <% timx = (book.quantity * book.price)%>
        <% @total += timx %>
    </tr>
    <% end %>
    <tr>
        <td>Order Total: &euro; <%= @total %></td>
    </tr>
</table>