<div id="booksContainer">
    <h1>Thank You
        <br>
        You have just placed an order <%=@order.id %></h1>
</div>

<table id="customers">
    <tr>
        <% @orders.limit(1).order(id: :desc).each do |order| %>
        <td>Order reference for the order you just placed is: <%= order.id %></td>
        <% end %>
    </tr>
</table>

<table id="customers">
    <% @total = 0 %>
    <% @orderbooks.each do |id,quantity| %>
    <tr>
        <% book = Orderbook.find_by_id(id) %>
        <td><%= book.title %></td>
        <td><%= book.quantity %></td>
        <td><%=number_to_currency(book.price, :unit => "€")%></td>
        <td><%= number_to_currency(book.quantity * book.price, :unit => "€") %></td>
    </tr>
    <tr>
        <% timx = (book.quantity * book.price)%>
        <% @total += timx %>
    </tr>
    <% end %>
    <td>Order Total: &euro; <%= @total %></td>
    <% @shipping = 6 %>
    <% @overall = @shipping + @total %>
    <tr>
        <td>Shipping &euro;<% @shipping %></td>
        <td>You Pay &euro; <%= @overall %></td>
    </tr>
    <p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">

  <!-- Identify your business so that you can collect the payments. -->
  <input type="hidden" name="business" value="sb-8ccjs4128056@business.example.com">

  <!-- Specify a Buy Now button. -->
  <input type="hidden" name="cmd" value="_xclick">

  <!-- Specify details about the item that buyers will purchase. -->
    <% @cart.each do |id, quantity| %>
    <% book = Book.find_by_id(id) %>
        <input type="hidden" name="item_name" value="<%= book.title%>">
        <input type="hidden" name="amount" value="<%= book.price%>">
        <input type="hidden" name="currency_code" value="EUR">
    <% end %>

  <!-- Display the payment button. -->
  <input type="image" name="submit" border="0"
  src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
  alt="Buy Now">
  <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
 <input type="hidden" name="return" value="https://rails-container-liamme.c9users.io/" >
</form>

    </p>
</table>