<h2>You Searched Our Product Catalog For <%= @search_term %></h2>
<% if @users.length == 0 %>
<br />
<h2>No products were found to match your search</h2>
<% end %>
<table class="catalog">
    <% @users.each do |u| %>
        <tr>
            <td>
                <a href="/showuser/<%= u.id %>"> ID: <%= u.id %> </a>
            </td>
            <td>
                <a href="/showuser/<%= u.id %>"> Email: <%= u.email %></a>
            </td>
            <td>
                <a href="/showuser/<%= u.id %>"> Admin: <%= u.admin %></a>
            </td>

            <td>
            </td>
        </tr>
        <% end %>
</table>