ID: <%= @user.id %>
<br/>
Email: <%=@user.email%>
<br/>

Admin :  <%=@user.admin %>

<a href="/promote/<%= @user.id %>" class="button">Promote</a>
<a href="/demote/<%= @user.id %>" class="button">Demote</a>

<br/>

ID not editable
