<p id="notice"><%= notice %></p>

<div id="booksContainer">
    
    <!-- Cat. loop-->
    <br>
    <div class="category">
        <ul >
            <li><b>Categories: </b></li>
            <% @categories.each do |category| %> 
                <li><a href="/category/<%= category.title %>"><%= category.title %></a></li>
            <% end %>    
        </ul>

        <%= form_tag(controller: "books", action: "pricefilter", method: "get") do %>
        <%= label_tag("Min price:") %> <%= text_field_tag(:min) %>
        <%= label_tag("Max price:") %> <%= text_field_tag(:max) %>
        <%= submit_tag("Search") %>
        <% end %>
    </div>

    <table>
        <% @books.each do |book| %>
        <div class="bookhols">
            <h1><%= book.title %></h1>
            <%= link_to (image_tag book.image_url, :class => "bookholsIm"), book %>
            <p><%= book.description %></p>
            <p>Price <%= number_to_currency(book.price, :unit => "€") %>
                <br>
                Genre: <%= book.genre %>
            </p>
            <p>
                <a href="/cart/<%= book.id %>" class="button">Add To Cart</a>
                <%= link_to 'Show', book, :class => "button", :role => "button" %>
                <% if user_signed_in? && current_user.admin%>
                <%= link_to 'Edit', edit_book_path(book), :class =>"button", :role=>"button" %>
                <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"button", :role=>"button" %>
                <% end %>
            </p>
        </div>
        <% end %>
    </table>
</div>
<br>
<% if user_signed_in? && current_user.admin%>
<%= link_to 'New book', new_book_path, :class => "button", :role => "button" %>
<% end %>