<% if @books.length == 0  %><br />
<h2>No products were found to match your search</h2>
<% end %>
<table class="catalog">
    <% @books.each do |book| %>
    <tr>
        <td>
            <div>
            <%= link_to (image_tag book.image_url, :style => "height:100px"), book %>
            </div>
            <div class="title">
                <%= link_to book.title, book %>
            </div>
            <div class="description">
                <%= book.description %>
            </div>
            <div class="price">
                <%= number_to_currency(book.price, :unit => "€") %>
            </div>
            <p>
                <a href="/cart/<%= book.id %>" class="buttonsearch">Add To Cart</a>
            </p>
        </td>
    </tr>
    <% end %>
</table>