<h2>You Searched Our Product Catalog For <%= @search_term %></h2>
<% if @books.length == 0  %><br />
<h2>No products were found to match your search</h2>
<% end %>
<table class="catalog">
    <% @books.each do |book| %>
    <tr>
        <td>
            <div class="image"><%= link_to (image_tag book.image_url, :style => "height:100px"), book %>
            </div>
            <div class="title">
                <%= link_to book.title, book %>
            </div>
            <div class="description">
                <%= book.description %>
            </div>
            <div class="price">
                <%= number_to_currency(book.price, :unit => "€") %>
            </div>
            <div class="links">
                <% if user_signed_in? %><%= link_to 'Edit', edit_book_path(book) %>
                <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
                <%else%>
                <a href="/cart/<%= book.id %>">Add to Cart</a>
                <%end%>
            </div>
        </td>
    </tr>
    <% end %>
</table>