<header>
    <div class="headSec">
        <h1>Book Store</h1>
        <ul>
            <li><%= link_to "Home", "/" %></li>
            <li><%= link_to "Books", "/books" %></li>
            <% if user_signed_in? %>
            <% if current_user.admin %>
            <li><%= link_to "Admin console", admin_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <% end %>
            <% if !current_user.admin %>
            <li><%= link_to "View Cart", "/cart" %></li>
            <li><%= link_to "View Orders", orders_path %></li>
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <% end %>
            <% else %>
            <li><%= link_to "Register", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>
            <% if user_signed_in? %>
            <% if !current_user.admin %>
            <li id="search">
                <%= form_tag("/search", :method => "post") do %>
                <%= text_field_tag(:q) %>
            </li>
            <li id="search">
                <%= submit_tag("Search") %>
            <% end %>
            </li>
            <% end %>
            <% end %>

    </div>
    </ul>
</header>